# dataset
dataset/

# model 
Model.ipynb
Konversi.ipynb
cek_dataset.ipynb
inference.ipynb

# other file
main.py
inference.py
test_api.py
api_simple.py
test_fastapi.py
training_log.csv

# folder 
.ipynb_checkpoints/
model_output/
__pycache__/
.vscode/
artifacts/
